<h1>Check if the filter `capitalize` is working properly</h1>

<p>
    See <a href="http://twig.sensiolabs.org/doc/filters/capitalize.html">
        http://twig.sensiolabs.org/doc/filters/capitalize.html
    </a>
</p>

<section>
    <ul>
        <li>{{ 'lorem ipsum dolor sit amet'|capitalize }}</li>
        <li>{{ 'Lorem Ipsum Dolor Sit Amet'|capitalize }}</li>
        <li>{{ 'LOREM IPSUM DOLOR SIT AMET'|capitalize }}</li>
        <li>{{ 42|capitalize }}</li>
        <li>{{ 3.12|capitalize }}</li>
        <li>{{ true|capitalize }}</li>
        <li>{{ null|capitalize }}</li>
        <li>{{ [1, 2, 3]|capitalize }}</li>
        <li>{{ {"a": 1, "b": 2, "c":3}|capitalize }}</li>
    </ul>
</section>