<h1>Check if the operator `get` is working properly</h1>

<p>
    See <a href="http://twig.sensiolabs.org/doc/templates.html#other-operators">
        http://twig.sensiolabs.org/doc/templates.html#other-operators
    </a>
</p>

<section>
    <ul>
        <li>{{ user.name }}</li>
        <li>{{ user.children.0 }}</li>
        <li>{{ user.children.1 }}</li>
        <li>{{ user["name"] }}</li>
        <li>{{ user["children"][0] }}</li>
        <li>{{ user["children"][1] }}</li>
        <li>{{ user["space space"] }}</li>
    </ul>
</section>
